logs/

~/.vim/undodir/*
~/.vim/undodir/

nvim/.config/nvim/~/.vim/undodir/

nvim/.config/nvim/lua/~/.vim/undodir/

nvim/.config/nvim/lua/config/~/.vim/undodir/

tmuxinator/.tmuxinator/~/.vim/undodir/
